<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li class="nav-item">
                  <%= link_to "Hatha Yoga", yoga_path(anchor: "hatha"), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Yoga Nidra", yoga_path(anchor: "nidra"), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Wellness at Work", wellness_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "K - Training", knee_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to t('bio'), root_path(anchor: "bio"), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <a href="mailto:lamarienyoga@gmail.com" target="_blank"><i class="far fa-envelope envelope "></i></a>
                </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
