<!-- burger-to-x -->
<div id="menuToggle">
  <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
  -->
  <input type="checkbox" />
  <!--
    Some spans to act as a hamburger.
  -->
  <span></span>
  <span></span>
  <span></span>
  <ul id="menu">
    <li class="nav-item">
      <%= link_to "Hatha Yoga", yoga_path(anchor: "hatha"), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Yoga Nidra", yoga_path(anchor: "nidra"), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Wellness at Work", wellness_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "K - Training", knee_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Bio", root_path(anchor: "bio"), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <a href="mailto:lamarienyoga@gmail.com" target="_blank"><i class="far fa-envelope envelope "></i></a>
    </li>
  </ul>
</div>
<!-- extended-menu WHAT THE FUUUUUUUCK-->
<div class="right-navbar extended-menu">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</div>
