<div id="mainFlag" class="dropdown">
  <input type="checkbox" />
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% if params[:locale] == nil %>
    <%= link_to image_tag('spain.png'), { locale: nil } %>
    <% elsif params[:locale] == 'cat' %>
    <%= link_to image_tag('catalonia.png'), {locale: 'cat'} %>
    <% else %>
    <%= link_to image_tag('france.png'), { locale: 'fr' } %>

    <% end %>
  </button>
  <ul id="flags">
    <%= link_to image_tag('spain.png'), { locale: nil }, class: "dropdown-item" %>
    <%= link_to image_tag('catalonia.png'), {locale: 'cat'}, class: "dropdown-item" %>
    <%= link_to image_tag('france.png'), { locale: 'fr' }, class: "dropdown-item" %>
  </ul>
</div>
