<!-- banner -->
<div class="banner">
  <div class="color-box">
    <div class="center">
      <%= image_tag "logo.svg", alt: "logo Marién Yoga" %>
      <h1>Marién Yoga</h1>
      <div class="slogan">
        <p>Keep it Simple</p>
          <i class="fab fa-pagelines"></i>
        <p>Yoga & Wellness</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- bio -->
  <div id="bio">
    <div class="card-area">
      <div class="title-line"><h3>Bio</h3></div>
      <div class="card-info">
        <div class="content">
          <div class="avatar-image">
            <%= image_tag "avatar.jpg", alt: "Marién Garcia avatar", class: "avatar-large" %>
          </div>
          <h4><%= t :bioTitle %></h4>
          <p><%= t :bioContent_html %></p>
        </div>
      </div>
    </div>
  </div>

  <!-- students -->
  <div id="students">
    <div class="card-area">
      <!-- <div class="title-line"><h3>students</h3></div> -->
      <div class="container-student">
        <!-- <div class="card-student card-img-a col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4"> -->
        <!-- </div> -->
        <div class="card-student">
          <div class="avatar-large card-img-a"></div>
          <div class="text">
            <p><%= t :student1_html %></p>
          </div>
        </div>
        <div class="card-student">
          <div class="avatar-large card-img-b"></div>
          <div class="text">
            <p><%= t :student2_html %></p>
          </div>
        </div>
        <div class="card-student">
          <div class="avatar-large card-img-c"></div>
          <div class="text">
            <p><%= t :student3_html %></p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- images presentation -->
  <div class="container">
    <!-- <div class="images">
      <div class="card image-a"></div>
      <div class="card image-b"></div>
      <div class="card image-c"></div>
      <div class="card image-d"></div>
      <div class="card image-e"></div>
    </div> -->
  </div>
</div>
