<div class="container">
  <div id="yoga">
    <!-- hatha yoga info -->
    <div class="card-area">
      <div id="hatha" class="title-line"><h3>Hatha Yoga</h3></div>
      <div class="card-info">
        <div class="content">
          <p><%= t 'yoga.hathaContent_html' %></p>
        </div>
        <main>
          <div class="diapo">
            <div class="elements">
              <div class="element active">
                <%= image_tag "hatha_1.jpg", alt: "hatha image 1" %>
              </div>
              <div class="element">
                <%= image_tag "hatha_2.jpg", alt: "hatha image 2" %>
              </div>
              <div class="element">
                <%= image_tag "hatha_3.jpg", alt: "hatha image 3" %>
              </div>
              <div class="element">
                <%= image_tag "hatha_4.jpg", alt: "hatha image 4" %>
              </div>
            </div>
            <i id="nav-left" class="fas fa-chevron-left"></i>
            <i id="nav-right" class="fas fa-chevron-right"></i>
          </div>
        </main>
      </div>
    </div>
    <!-- yoga nidra info -->
    <div class="card-area">
      <div id="nidra" class="title-line"><h3>Yoga Nidra</h3></div>
      <div class="card-info">
        <div class="content">
          <p><%= t 'yoga.nidraContent_html' %></p>
        </div>
        <main>
          <div class="image-right">
            <div class="nidra-images">
              <div class="element nidra-image">
                <%= image_tag "nidra_1.jpg", alt: "nidra image 1" %>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
