<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- tell the browser explicitly not to mess with scaling  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Marién Yoga</title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= request.original_url %>">
    <meta property="twitter:title" content="<%= meta_title %>">
    <meta property="twitter:description" content="<%= meta_description %>">
    <meta property="twitter:image" content="https://www.marienyoga.com/assets/meta_image-475f92e30b00e71cb70bc7e685f8b45632814fd896eecc89328ac4da9aaaa4d4.jpg">
    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>
    <%#= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <!-- icons for PWA -->
    <%= render 'shared/ios_pwa_links' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>
  <body>
    <!-- navbar -->
    <%= render 'shared/navbar' %>

    <%= yield %>
    <!-- footer -->
    <%= render 'shared/footer' %>

    <%#= javascript_pack_tag 'application' %>
  </body>
</html>
